/* Load additional fonts*/
@font-face {
    font-family: 'metroid-Font';
    src: 
	    url('../fonts/unicode.serpentb.ttf') 
	    format('truetype');
}

@font-face {
    font-family: 'smash-Font';
    src: 
	    url('../fonts/super_smash_4_1_by_pokemon_diamond-d7zxu6d.ttf') 
	    format('truetype');
}

/* ------------------------------------
    HTML ELEMENT Selectors
 ------------------------------------*/
p {
    font-family: 'metroid-Font', sans-serif;
    font-size: 2vw;
}

body {
    text-align: center;
}

 /* ------------------------------------
    CLASS Selectors
 ------------------------------------*/
.container {
    margin: 0px;
    border-left: 10px solid black;
    border-right: 10px solid black;
    border-bottom: 10px solid black;
    padding: 0;
    max-width: 100%;
}

 .headerTitle {
    width:100%;
    text-align: center;
    visibility: show;
    padding: 0;
    max-width:100%;
    
}

 .stageIcon {
    height: 100px;
    /* width: 20vw; */
    width: 90%;
    text-align: left;
    color:white;
    background-color: black;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left:auto;
    display: inline-block;
    border: 4px solid white;

    padding: 5px 5% 5px 5%;
}

.stageImg {
    height: 100%;
    width:auto;
    -webkit-transform: skew(11deg, 0deg);
}

.stageWhole {
    width: 100%;
    height: 100%;
}

.stageWhole:hover {
    position:absolute;
    bottom: 10px;
    left: 10px;
    border: 10px solid rgba(255, 255, 0, 0.904);
    padding: 2px 0px 2px 5%;
}

.stageText {
    display:inline-block;
    margin-left: 10px;
    font-family: 'metroid-Font', sans-serif;
    font-size: 3.3vw;
}

.currentRoundTextBox {
    background-color: white;
    height: auto;
    padding: 2px 5px;
    border: 2px solid black;
    border-radius: 5px;
    opacity: 0.9;
    text-align: left;
    position: absolute;
    left: 8%;
    font-family: 'smash-Font', sans-serif;
    font-size: 3.6vw;
}

.slantBox {
    -webkit-transform: skew(-11deg, 0deg);
}

.straightenOut {
    -webkit-transform: skew(11deg, 0deg);
}

.footerTitle {
    display: none;
}

.musicInstruction {
    text-align: center;
    color: white;
    background-color: black;
    width: 98%;
    border: 4px solid white;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.musicInstruction p {
    font-size: 3.5vw;
    line-height: 40px;
    padding-top: 10px;
}


/* ------------------------------------
    ID Selectors
 ------------------------------------*/
#smashLogoBox {
    padding: 10px 10px 0px 10px;
    width: 100%;
}

#smashLogoBoxFooter {
    padding: 10px 10px 0px 10px;
    width: 100%;
}

#smashLogo {
    width:100%;
}

#smashLogoFooter {
    width:100%;
}

#wordGuessLogoBox {
    padding: 0px 10px 10px 10px;
    width: 100%;
    text-align: center;
}
#wordGuessLogoBox h1 {
    font-size: 4vw;
}

#gameTitle {
    font-family: 'metroid-Font', sans-serif; 
    margin: 0px;
}

#wordGuessLogoBoxFooter {
    padding: 0px 10px 10px 10px;
    width: 100%;
    text-align: center;
}
#wordGuessLogoBoxFooter h1 {
    font-size: 4vw;
}

#gameTitleFooter {
    font-family: 'metroid-Font', sans-serif; 
    margin: 0px;
}

#stageBox {
    background-image: linear-gradient(to bottom, #e80000, #7f0000);
    text-align: center;
    padding: 10px;
    border-right: 10px solid black;
    border-left: 10px solid black;
    border-top: 0px;
}

#pauseBox{
    text-align: center;
    margin: 15px auto 30px auto;
    width: 75%;
}

#pauseBtn {
    padding:10px 15px;
    font-family: 'metroid-Font', sans-serif; 
    font-size: 3vw;
    background-color: black;
    color: white;
    border: 3px solid white;
}

#gameMainStage {
    /* margin: 10px; */
    padding: 10px;
    background-color: black;
    text-align:center;
    position: relative;
}

#selectedStage {
    width: 100%;
}

#wordToGuess {
    top: 14%;
}

#userGuess {
    top: 34%;
}

#userGuessesArray {
    top: 54%;
}

#guessesLeft {
    top: 80%;
}

#recordBox {
    background-image: linear-gradient(to bottom, #7f0000, #e80000);
    text-align: center;
    padding: 10px;
    position: relative;
    border: 10px solid black;
    border-top: 0px;
}

#winLossBox {
    background-color: black;
    color: white;
    width: 90%;
    padding: 10px;
    /* transform-origin: bottom left; */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    
    text-align: left;
    border: 4px solid white;
    font-family: 'metroid-Font', sans-serif;
    font-size: 2.75vw;
}

#ruleSet {
    background-color: black;
    color: white;
    padding: 10px;
    width: 93%;
    padding: 10px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    border: 4px solid white;
    /* -webkit-transform: skew(-11deg, 0deg);  */
}


 /* ------------------------------------
    Media Query Selectors
 ------------------------------------*/
 /* @media (min-width: 1080px){
     .container{
        max-width: 1080px;
        margin-left: auto;
        margin-right: auto;
     }

     #gameMainStage {
        /* max-width: 1080px; */
        /* margin-left: auto;
        margin-right: auto;
     }

     #recordBox { */
        /* max-width: 1080px; */
        /* margin-left: auto;
        margin-right: auto;
     }
} */ 

@media (min-width: 992px) {
    body {
        
        max-width: 1650px;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }
    
    .container{
        overflow: none;
    }

    .headerTitle {
        display: none;
    }

    .musicInstruction p {
        font-size: 1.5vw;
        margin:0;
        padding-top: 0px;
        line-height: 30px;
    }

    .currentRoundTextBox {
        font-size: 2.025vw;
    }

    .footerTitle {
        display: block;
        background-color: white;
        border-top: 10px solid black;
        border-bottom: 0px;
        border-right: 0px;
        border-left: 0px;
    }

    #gameMainStage {
        border: 0px;
    }

    #wordToGuess {
        top: 4%;
    }
    
    #userGuess {
        top: 10%;
    }
    
    #userGuessesArray {
        top: 16%;
        max-width: 84%;
    }
    
    #guessesLeft {
        top: 27%;
    }

    .stageText {
        font-size: 1vw;
        position: absolute;
        top: 18%;
    }

    #stageBox {
        border-right: 0px;
        padding-top: 20px;
    }

    #pauseBtn {
        font-size: 1.1vw;
    }

    #recordBox {
        border: 0px;
        background-image: linear-gradient(to bottom, #e80000, #7f0000);
    }

    #ruleSet p {
        font-size: 13.5px;
    }

    #winLossBox {
        font-size: 1.5vw;
    }
}

@media (min-width: 1125px) {
    #wordToGuess {
        top: 4%;
    }
    
    #userGuess {
        top: 12%;
    }
    
    #userGuessesArray {
        top: 20%;
    }
    
    #guessesLeft {
        top: 32%;
    }

    #selectedStage {
        max-height: 565px;
    }
}

@media (min-width: 1600px) {
    body {
        max-width: 1650px;
    }

    .currentRoundTextBox {
        font-size: 1.8vw;
    }

    #wordGuessLogoBoxFooter h1 {
        font-size: 65px;
    }
}

 